.contacto {
  text-align: center;
  margin-top: 55px;
}
.contactame{
  color: wheat;
}
.dev-icon {
  color: white;
  font-size: 80px;
  margin: 10px;
}

.introduccion{
  color: azure;
  font-size: 1.2rem;
}